<launch>
    <!-- 自动启动roscore，无需单独启动 -->

    <!-- 启动mic节点 -->
    <node pkg="language" type="mic" name="mic_node" output="screen"/>

    <!-- 启动xf_asr节点 -->
    <node pkg="language" type="xf_asr" name="xf_asr_node" output="screen"/>

    <!-- 启动SparkPy.py节点 -->
    <node pkg="xinhuo" type="SparkPy.py" name="spark_node" output="screen"/>

    <!-- 包含tts_make.launch -->
    <include file="$(find language)/launch/tts_make.launch"/>
</launch>